.youtube-logo{
    width: 550px;
    height: auto;
}
.search{
    width: 15px;
    height: 15px;
}

 .video_plus{
    width: 50px;
    height: 50px;
 } 
.apps{
    width: 40px;
    height: 40px;
}
.Bell{
    width: 50px;
    height: 50px;
}